<!DOCTYPE html>
<html>
<body>

<h1>Currency calculator</h1>


<form action="/"action_page.php>
  <label for="code">Choose a currency code:</label>
  <select name="code" id="code">
    <option value="USD">USD</option>
    <option value="AUD">AUD</option>
    <option value="CAD">CAD</option>
    <option value="EUR">EUR</option>
  </select>
  <br><br>
  <input type="submit" value="Submit">
  <br><br>

  <label for="amount">Choose amount of currency to buy :</label>
  <input type="number" id="number" name="amount"><br><br>
  <input type="submit" value="Submit">

</form>



</body>
</html>
